<div class="row">
  <div class="offset-2 col-8">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Registration Form</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="theForm" (ngSubmit)="onSubmit()">
          <!-- username / email  -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              placeholder=""
              formControlName="username"
            />
            <label for="email">Email</label>

            <!-- Error Messages -->
            <div *ngIf="username.touched && username.invalid">
              <div *ngIf="username.hasError('required')">
                <p class="text-danger">Email is mandatory field</p>
              </div>
              <div *ngIf="username.hasError('email')">
                <p class="text-danger">Email should be in proper format</p>
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              formControlName="password"
            />
            <label for="password">Password</label>

            <!-- Error Message -->
            <div *ngIf="password.touched && password.invalid">
              <div *ngIf="password.hasError('required')">
                <p class="text-danger">Password is mandatory field</p>
              </div>
              <div *ngIf="password.hasError('minlength')">
                <p class="text-danger">
                  Password field should have at least 6 characters
                </p>
              </div>
              <div *ngIf="password.hasError('exclamation')">
                <p class="text-danger">
                  Password field should have exclamation sign (!)
                </p>
              </div>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="cnfPassword"
              id="cnfPassword"
              placeholder=""
              formControlName="cnfPassword"
            />
            <label for="cnfPassword">Confirm Password</label>

            <!-- Error Message -->

            <div *ngIf="cnfPassword.touched && cnfPassword.invalid">
              <div *ngIf="cnfPassword.hasError('required')">
                <p class="text-danger">Confirm password is mandatory field</p>
              </div>
              <div *ngIf="cnfPassword.hasError('mismatch')">
                <p class="text-danger">
                  Password and Confirm password does not match
                </p>
              </div>
            </div>
          </div>

          <!-- Hobbies -->

          <button class="btn btn-info btn-sm mb-3" (click)="addNewHobby()">
            New Hobby
          </button>
          <div formArrayName="hobbies">
            <div
              *ngFor="let hobby of hobbies.controls; let i = index"
              [formGroupName]="i"
              class="mb-2"
            >
              <div class="row">
                <div class="col-5">
                  <input
                    type="text"
                    placeholder="Name"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
                <div class="col-5">
                  <input
                    type="text"
                    placeholder="Frequency"
                    class="form-control"
                    formControlName="frequency"
                  />
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="removeHobby(i)"
                  >
                    🗑️
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- buttons -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  [disabled]="!theForm.valid"
                  class="btn btn-primary"
                  type="submit"
                >
                  Register
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
