.ng-touched.ng-invalid[name="email"] {
  border-left: 3px red solid;
}
.ng-touched.ng-valid[name="email"] {
  border-left: 3px green solid;
}

.ng-touched.ng-invalid[name="password"] {
  border-left: 3px red solid;
}
.ng-touched.ng-valid[name="password"] {
  border-left: 3px green solid;
}
.ng-touched.ng-invalid[name="cnfPassword"] {
  border-left: 3px red solid;
}
.ng-touched.ng-valid[name="cnfPassword"] {
  border-left: 3px green solid;
}
