<!-- ng-content - Creates the Slot inside the child comp template -->
<!-- <ng-content select=".heading"></ng-content> -->

<h2
  [ngStyle]="myDynamicStyle"
  (mouseenter)="onChangeStyle()"
  (mouseleave)="onChangeStyle()"
>
  {{ user.firstName }} {{ user.lastName }}
</h2>

<p>Date of Birth : <span [innerText]="user.dob"></span></p>

<!-- <p [ngClass]="['my-feature', 'my-border']">Income : {{ user.income }}</p> -->
<p
  [ngClass]="myDynamicClasses"
  (mouseenter)="onChangeClasses()"
  (mouseleave)="onChangeClasses()"
>
  Income : {{ user.income }}
</p>

<p>
  Total Votes : {{ user.votes }}
  <br />

  <ng-content select=".input"></ng-content>

  <input type="number" [(ngModel)]="user.votes" />
</p>

<!-- <ng-content select=".paragraph"></ng-content> -->
