<form (ngSubmit)="onSumbit(commentForm)" #commentForm="ngForm">
  <!-- stars -->
  <div class="mb-3">
    <label for="" class="form-label">Stars</label>
    <select class="form-select form-select-sm" name="stars" ngModel>
      <option selected>Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <!-- body -->
  <div class="mb-3">
    <label for="" class="form-label">Write your message here</label>
    <textarea
      class="form-control"
      rows="3"
      name="body"
      ngModel
      minlength="6"
      required
    ></textarea>

    <!-- Error Messages -->
    <div
      *ngIf="
        commentForm.controls['body']?.touched &&
        commentForm.controls['body']?.invalid
      "
    >
      <div *ngIf="commentForm.controls['body'].hasError('required')">
        <p class="text-danger">Please write some message in the text field</p>
      </div>

      <div *ngIf="commentForm.controls['body'].hasError('minlength')">
        <p class="text-danger">
          Please write at least 6 characters in this field
        </p>
      </div>
    </div>
  </div>

  <!-- author -->
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      name="author"
      ngModel
      placeholder=""
      email
      required
    />
    <label for="formId1">Your name</label>

    <!-- Error Message -->
    <div
      *ngIf="
        commentForm.controls['author']?.touched &&
        commentForm.controls['author']?.invalid
      "
    >
      <div *ngIf="commentForm.controls['author'].hasError('required')">
        <p class="text-danger">Author field is mandatory.</p>
      </div>

      <div *ngIf="commentForm.controls['author'].hasError('email')">
        <p class="text-danger">Author field should have proper email format.</p>
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="row">
    <div class="col">
      <div class="d-grid">
        <button
          [disabled]="!commentForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Add Comment
        </button>
      </div>
    </div>
    <div class="col">
      <div class="d-grid">
        <button class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </div>
</form>
