<form (ngSubmit)="onSumbit(commentForm)" #commentForm="ngForm">
  <!-- stars -->
  <div class="mb-3">
    <label for="" class="form-label">Stars</label>
    <select class="form-select form-select-sm" name="stars" ngModel>
      <option selected>Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <!-- body -->
  <div class="mb-3">
    <label for="" class="form-label">Write your message here</label>
    <textarea
      class="form-control"
      rows="3"
      name="body"
      ngModel
      minlength="6"
      required
    ></textarea>
  </div>

  <!-- author -->
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      name="author"
      ngModel
      placeholder=""
      email
      required
    />
    <label for="formId1">Your name</label>
  </div>

  <!-- buttons -->
  <div class="row">
    <div class="col">
      <div class="d-grid">
        <button
          [disabled]="!commentForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Add Comment
        </button>
      </div>
    </div>
    <div class="col">
      <div class="d-grid">
        <button class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </div>
</form>
