<div class="backdrop">
  <div class="my-dialog">
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <h4 class="text-center">Create Expense Form</h4>
      <!-- title -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder=""
          formControlName="title"
        />
        <label for="title">Title</label>
      </div>

      <!-- amount -->
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          name="amount"
          id="amount"
          placeholder=""
          formControlName="amount"
        />
        <label for="amount">Amount</label>
      </div>

      <!-- createdAt -->
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          name="createdAt"
          id="createdAt"
          placeholder=""
          formControlName="createdAt"
        />
        <label for="createdAt">Date</label>
      </div>

      <!-- buttons -->
      <div class="row">
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-secondary" type="button">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
