.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.my-dialog {
  position: fixed;
  top: 15vh;
  left: 35vw;
  background-color: #fff;
  width: 30vw;
  height: auto;
  z-index: 70;
  padding: 24px;
}
